<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [class.active]="aba == 'home'">
        <a class="nav-link" href="#" (click)="aba = 'home'"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" [class.active]="aba == 'mapa'">
        <a class="nav-link" href="#" (click)="aba = 'mapa'">Mapa</a>
      </li>
      <li class="nav-item" [class.active]="aba == 'lista'">
        <a class="nav-link" href="#" (click)="aba = 'lista'">Lista</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'mapa'">Modo Mapa ativado</p>
  <p *ngSwitchCase="'lista'">Modo lista ativado</p>
  <p *ngSwitchDefault>Home ou padrão amigão</p>
</div>

<br />
<h5>Utilizando template</h5>

<div class="container" [ngSwitch]="aba">
  <ng-template [ngSwitchCase]="'mapa'">
    <p>Modo Mapa ativado</p>
  </ng-template>
  <ng-template [ngSwitchCase]="'lista'">
    <p>Modo lista ativado</p>
  </ng-template>
  <ng-template [ngSwitchCase]="'home'" ngSwitchDefault>
    <p>Home ou padrão amigão</p>
  </ng-template>
</div>
